@using Blog.Models;

@{
    ViewData["Title"] = @ViewBag.post.Title;
}

<h1>Szczegóły postu</h1>

<hr />
<img src="@ViewBag.post.ImageUrl" width="200" height="200" />
<hr />
<dl class="row">
   
    <dt class="col-sm-2">
        Zawartość
    </dt>
    <dd class="col-sm-10">
        @ViewBag.post.Content;
    </dd>

    <dt class="col-sm-2">
        Opis
    </dt>
    <dd class="col-sm-10">
        @ViewBag.post.Description;
    </dd>
</dl>

<div class="row">
    <div class="col-md-10">
        <h3>Zostaw komentarz</h3>
        <form asp-action="CommentPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="postId" value="@ViewBag.post.Id" />
            <div class="form-group">
                <label for="content" class="control-label"></label>
                <textarea name="content" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj komentarz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.post.CommentKey != null)
{
    <h3>Komentarze:</h3>
    @foreach (Comment comment in ViewBag.post.CommentKey)
    {
        <div class="card p-3">
            @comment.Id
            <div>
                @comment.Content
            </div>
        </div>
    }
}