@model IEnumerable<Blog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Zarządzaj postami</h1>

<p>
    <a asp-action="Create">Stwórz nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Zawartość
            </th>
            <th>
                Opis
            </th>
            <td>
                E-mail
            </td>
            <th>
                Autor
            </th>
            <th>
                Obrazek
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Email)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="50" height="50"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
